* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow: hidden;

}

body {
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2023/08/05/08/15/ship-8170663_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

}